<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1>Checkout</h1>
        <h4>Your Total: ${{this.total}} </h4>
        <form action="/checkout" method="POST" id="checkout-form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" required>
            </div>
            <div class="form-group">
                <label for="card-name">Card Holder Name</label>
                <input type="text" class="form-control" id="card-name" required>
            </div>
            <div class="form-group">
                <label for="card-number">Credit Card Number</label>
                <input type="text" class="form-control" id="card-number" required>
            </div>
            <div class="row">
                <div class="col">
                    <label for="card-expiry-month">Expiration Month</label>
                    <input type="text" class="form-control" id="card-expiry-month" required>
                </div>
                <div class="col">
                    <label for="card-expiry-year">Expiration Year</label>
                    <input type="text" class="form-control" id="card-expiry-year" required>
                </div>
            </div>
            <div class="form-group">
                <label for="card-cvc">CVC</label>
                <input type="text" class="form-control" id="card-cvc" required>
            </div>

            <button type="submit" class="btn btn-primary">Buy Now</button>
        </form>
    </div>
</div>
<br /><br /><br />

<script src="https://js.stripe.com/v3/"></script>
<script src="/javascripts/checkout.js"></script>